/*ajaxloader */
#ajaxloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*background-color: rgba(0, 0, 0, 0.5);*/
    background-color: rgba(240, 240, 240, 0.7);
    /*change if the mask should have another color then white /*/
    z-index: 99999; 
    /*/ makes sure it stays on top /*/
}

#ajaxloader #status {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    /*centers the loading animation horizontally one the screen /*/
    top: 50%; 
    /*centers the loading animation vertically one the screen /*/
    background-image: url(../assets/images/ajax-loader-large.gif);
    /*path to your loading animation /*/
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px; 
    /*is width and height divided by two */
}

/*************************AJAX LOADER END******************************/

.validation-error{color:#ff0000;}
.validation-error-hints{color:#ff0000;}